.article {
}

.title {
    color: red;
    font-size: 3rem;
}

@media (max-width: 500px) {
    .article {
        width: 100%;
    }
}

@media (min-width: 501px) {
    .article {
        width: 50%;
    }
}

