*{
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

html, body {
    min-height: 100%;
}

#root {
    padding: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

@media (max-width: 500px) {
    #root {
        display: block;
    }
}


