* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 5px;
}

html, body {
    height: 100%;
    width: 100%;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
}

#root {
    min-height: min(90vw,90vh);
    min-width: min(90vw,90vh);
    display: flex;
}

@media (min-width: 201px) {
    html {
        font-size: 8px;
    }
}

@media (min-width: 301px) {
    html {
        font-size: 10px;
    }
}

@media (min-width: 401px) {
    html {
        font-size: 12px;
    }
}

@media (min-width: 501px) {
    html {
        font-size: 16px;
    }
}
